@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

header {
  padding: 1% 15% 5%;
  background-color: #1f2937;
  color: #f9faf8;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar h3 {
  font-size: 24px;
}

.hero .hero-text p,
.navbar ul li {
  font-size: 18px;
  color: #e5e7eb;
}

.navbar ul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.hero .hero-text {
  width: 45%;
}

.hero .hero-text h1 {
  font-size: 48px;
  font-weight: bolder;
}

.hero .hero-text .sign-up-btn {
  cursor: pointer;
  background-color: #3882f6;
  border: none;
  font-family: inherit;
  color: #f9faf8;
  font-size: 19px;
  padding: 1% 6%;
  border-radius: 10px;
}

.hero .hero-img {
  margin: 4% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  background-color: grey;
}
