@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --blue-color: #3882f6;
  --dark-grey-color: #1f2937;
  --white-one-color: #f9faf8;
  --light-grey-color: #e5e7eb;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
}

header {
  padding: 1% 15% 5%;
  background-color: var(--dark-grey-color);
  color: var(--white-one-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar h3 {
  font-size: 24px;
}

.hero .hero-text p,
.navbar ul li {
  font-size: 18px;
  color: var(--light-grey-color);
}

.navbar ul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.hero .hero-text {
  width: 45%;
}

.hero .hero-text h1 {
  font-size: 48px;
  font-weight: bolder;
}

.hero .hero-text .sign-up-btn {
  cursor: pointer;
  background-color: var(--blue-color);
  border: none;
  font-family: inherit;
  color: var(--white-one-color);
  font-size: 19px;
  padding: 1% 6%;
  border-radius: 10px;
}

.hero .hero-img {
  margin: 4% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  background-color: grey;
}

.random-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-information h2 {
  margin-top: 5%;
  font-size: 36px;
  font-weight: bold;
  color: var(--dark-grey-color);
}

.random-information .four-pics {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 2% 0 8%;
}

.four-pics .pic-subtext {
  width: 150px;
}

.four-pics .pic-subtext div {
  width: 100%;
  height: 150px;
  border: 3px solid var(--blue-color);
  border-radius: 9px;
}

.four-pics .pic-subtext p {
  color: grey;
  font-size: 16px;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey-color);
  padding: 7% 8%;
}
.quote figure {
  width: 80%;
}

.quote blockquote {
  font-size: 36px;
  font-style: italic;
  color: #495057;
}

.quote figcaption {
  display: flex;
  justify-content: end;
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-grey-color);
  margin-right: 9%;
}

.CTA {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 3%;
}

.CTA .CTA-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  background-color: var(--blue-color);
  padding: 2% 0;
  border-radius: 10px;
  color: var(--white-one-color);
}

.CTA .CTA-container .CTA-btn {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--light-grey-color);
  font-size: 1.2rem;
  border: 2px solid var(--white-one-color);
  border-radius: 5px;
  padding: 10px 20px;
}
